.tourContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.tourWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.bookNow {
  position: absolute;
  top: 10px;
  right: 0;
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  width: 28%;
  text-align: center;
  justify-content: center;
}
.bookNow,
.tourDetailsPrice button {
  background-color: #f6b745; /* Màu nền mặc định */
  color: #fff; /* Màu chữ mặc định */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s; /* Hiệu ứng màu nền và màu chữ */
}

.bookNow:hover,
.tourDetailsPrice button:hover {
  background-color: #ffc107; /* Màu nền khi hover */
  color: #fff; /* Màu chữ khi hover */
}

.tourTitle {
  font-size: 24px;
}

.tourAddress {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.tourDistance {
  color: #0071c2;
  font-weight: 500;
}

.tourPriceHighlight {
  color: #008009;
  font-weight: 500;
}

.tourImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.tourImg:hover {
  transform: scale(1.01); /* Hiển thị ảnh lớn hơn khi hover */
}
.tourImgWrapper {
  width: 100%;
  height: auto;
}

.tourImg {
  width: 300%;
  height: auto;
  /* object-fit: cover; */
  cursor: pointer;
  border-radius: 1%; /* Sử dụng giá trị 50% để bo tròn thành hình tròn */
  border: 2px solid #fff; /* Thêm đường viền trắng bo tròn */
  cursor: pointer; /* Thêm con trỏ chuột khi hover vào ảnh */
  transition: transform 0.3s ease-in-out;
}

.tourDetails {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.tourDetailsTexts {
  flex: 3;
}

.tourDesc {
  font-size: 14px;
  margin-top: 20px;
}

.tourDetailsPrice {
  flex: 1;
  background-color: #ebf3ff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tourDetailsPrice > h1 {
  font-size: 18px;
  color: #555;
}
.tourDetailsPrice > span {
  font-size: 14px;
}
.tourDetailsPrice > h2 {
  font-weight: 300;
}
.tourDetailsPrice > button {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.slider{
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.613);
  z-index: 999;
  display: flex;
  align-items: center;
}

.sliderWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderImg{
  width: 80%;
  height: 80vh;
}

.close{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: lightgray;
  cursor: pointer;
}

.arrow{
  margin: 20px;
  font-size: 50px;
  color: lightgray;
  cursor: pointer;
}