.featured{
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}

.featuredItem{
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  flex:1
}

.featuredImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s, filter 0.3s;
}

.featuredItem:hover .featuredImg {
  transform: scale(1.1); /* Phóng to ảnh khi hover */
  filter: brightness(70%); /* Giảm độ sáng của ảnh khi hover */
}
.featuredItem::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2); /* Màu nền trắng mờ */
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none; /* Không che khuất các nút hoặc liên kết bên dưới */
}
.featuredItem:hover {
  cursor: pointer;
}
.featuredItem:hover::before {
  opacity: 1; /* Hiển thị nền trắng mờ khi hover */
  cursor: pointer; /* Biểu tượng trỏ chuột */
}

.featuredTitles{
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  z-index: 1;
  transition: transform 0.5s
}
.featuredTitles h1 {
  font-size: 24px;
  margin: 0;
}

.featuredTitles h2 {
  font-size: 16px;
  margin: 0;
}